.p{
    background-color: blue;
    text-align: center;
    color: white;

}

.h1{
    background-color: aquamarine;
    text-align: center;
    color: rgb(0, 0, 0);

     padding: 100px 50px 30px 50px; 

    margin: 20px 30px 50px 100px;   
}


#sample-id-selector{
    background-color: red;
    text-align: center;
    font-size: larger;
}

body{
    background-image:url(../img/south-tyrol-8023213_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}